<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Lista de Libros</h1>
    </header>
    <div class="container">
        <a href="{{ url_for('create') }}">➕ Agregar Nuevo Libro</a>
        <ul>
            {% for libro in libros %}
            <li>
                <span>{{ libro[1] }} - {{ libro[2] }} ({{ libro[3] }})</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
